In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
data=pd.read_csv("./archive/example.csv")
data

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26547,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26548,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26549,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26550,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26551,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26552 entries, 0 to 26551
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     26552 non-null  object
 1   GAME_ID           26552 non-null  int64
 2   GAME_STATUS_TEXT  26552 non-null  object
 3   HOME_TEAM_ID      26552 non-null  int64
 4   VISITOR_TEAM_ID   26552 non-null  int64
 5   SEASON            26552 non-null  int64
 6   TEAM_ID_home      26552 non-null  int64
 7   PTS_home          26552 non-null  float64
 8   FG_PCT_home       26552 non-null  float64
 9   FT_PCT_home       26552 non-null  float64
 10  FG3_PCT_home      26552 non-null  float64
 11  AST_home          26552 non-null  float64
 12  REB_home          26552 non-null  float64
 13  TEAM_ID_away      26552 non-null  int64
 14  PTS_away          26552 non-null  float64
 15  FG_PCT_away       26552 non-null  float64
 16  FT_PCT_away       26552 non-null  float64
 17  FG3_PCT_away      26552 non-null  float64
 18  AST_away          26552 non-null  float64
 19  REB_away          26552 non-null  float64
 20  HOME_TEAM_WINS    26552 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.3+ MB

In [77]:
# 데이터 정렬
data1=data.sort_values(['GAME_DATE_EST','GAME_ID']).sort_values('GAME_DATE_EST',ascending=False)

In [79]:
# 필요없는 컬럼 제거
# - GAME_STATUS_TEXT: 값 일정,
data2=data1.drop(['GAME_STATUS_TEXT','HOME_TEAM_ID','VISITOR_TEAM_ID'],axis=1)

#### 테스트 시작

In [82]:
data2[(data2['TEAM_ID_home']==1610612762)&(data2['TEAM_ID_away']==1610612742)]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
483,2022-10-14,12200068,2022,1610612762,101.0,0.451,0.765,0.231,25.0,52.0,1610612742,115.0,0.447,0.667,0.362,28.0,36.0,0
589,2022-04-28,42100176,2021,1610612762,96.0,0.429,0.750,0.257,20.0,48.0,1610612742,98.0,0.450,0.818,0.395,22.0,37.0,0
603,2022-04-23,42100174,2021,1610612762,100.0,0.405,0.619,0.286,17.0,46.0,1610612742,99.0,0.429,0.783,0.341,15.0,43.0,1
610,2022-04-21,42100173,2021,1610612762,118.0,0.565,0.939,0.321,20.0,32.0,1610612742,126.0,0.494,0.839,0.429,24.0,32.0,0
973,2022-02-25,22100903,2021,1610612762,114.0,0.541,0.818,0.421,22.0,44.0,1610612742,109.0,0.477,1.000,0.436,22.0,30.0,1
1386,2021-12-25,22100492,2021,1610612762,120.0,0.444,0.757,0.333,24.0,49.0,1610612742,116.0,0.427,0.857,0.333,19.0,43.0,1
2913,2021-01-29,22000297,2020,1610612762,120.0,0.437,0.923,0.417,21.0,56.0,1610612742,101.0,0.430,0.667,0.273,20.0,40.0,1
2928,2021-01-27,22000282,2020,1610612762,116.0,0.462,0.762,0.390,20.0,50.0,1610612742,104.0,0.462,0.889,0.343,22.0,36.0,1
3287,2020-08-10,21901293,2019,1610612762,114.0,0.476,0.750,0.457,28.0,38.0,1610612742,122.0,0.565,0.875,0.500,29.0,34.0,0
3672,2020-01-25,21900680,2019,1610612762,112.0,0.440,0.773,0.349,22.0,54.0,1610612742,107.0,0.433,0.538,0.390,19.0,44.0,1
19983,2019-02-23,21800893,2018,1610612762,125.0,0.482,0.879,0.368,28.0,53.0,1610612742,109.0,0.423,0.778,0.361,25.0,42.0,1
20710,2018-11-07,21800160,2018,1610612762,117.0,0.483,0.692,0.351,31.0,35.0,1610612742,102.0,0.397,0.900,0.333,14.0,49.0,1
21359,2018-02-24,21700890,2017,1610612762,97.0,0.400,0.769,0.281,26.0,44.0,1610612742,90.0,0.410,0.857,0.286,19.0,44.0,1
22149,2017-10-30,21700098,2017,1610612762,104.0,0.469,0.800,0.457,25.0,35.0,1610612742,89.0,0.447,0.818,0.500,17.0,42.0,1
23234,2016-12-16,21600398,2016,1610612762,103.0,0.569,0.778,0.364,18.0,41.0,1610612742,100.0,0.455,0.857,0.429,18.0,27.0,1
23565,2016-11-02,21600062,2016,1610612762,97.0,0.455,0.577,0.480,18.0,41.0,1610612742,81.0,0.429,0.800,0.269,18.0,36.0,1
23830,2016-04-11,21501210,2015,1610612762,92.0,0.455,0.722,0.273,21.0,38.0,1610612742,101.0,0.444,0.818,0.344,19.0,47.0,0
25240,2015-04-13,21401210,2014,1610612762,109.0,0.500,0.615,0.393,24.0,48.0,1610612742,92.0,0.415,0.652,0.450,18.0,41.0,1
26373,2014-11-07,21400080,2014,1610612762,82.0,0.426,0.789,0.321,19.0,41.0,1610612742,105.0,0.477,0.857,0.375,23.0,42.0,0
4219,2014-04-08,21301159,2013,1610612762,83.0,0.414,0.538,0.167,16.0,47.0,1610612742,95.0,0.556,0.545,0.391,24.0,36.0,0
4419,2014-03-12,21300964,2013,1610612762,101.0,0.471,0.762,0.192,23.0,40.0,1610612742,108.0,0.532,0.917,0.619,26.0,39.0,0
6294,2013-01-07,21200508,2012,1610612762,100.0,0.397,0.778,0.526,20.0,47.0,1610612742,94.0,0.432,0.900,0.316,20.0,46.0,1
6792,2012-10-31,21200009,2012,1610612762,113.0,0.427,0.738,0.429,24.0,61.0,1610612742,94.0,0.376,0.731,0.500,20.0,40.0,1
7074,2012-04-16,21100909,2011,1610612762,123.0,0.432,0.784,0.429,30.0,53.0,1610612742,121.0,0.429,0.920,0.412,21.0,41.0,1
7766,2012-01-19,21100215,2011,1610612762,91.0,0.388,0.897,0.250,16.0,44.0,1610612742,94.0,0.521,0.789,0.250,23.0,33.0,0
8239,2011-03-26,21001085,2010,1610612762,77.0,0.421,0.588,0.250,18.0,31.0,1610612742,94.0,0.455,0.813,0.421,20.0,40.0,0
9045,2010-12-03,21000286,2010,1610612762,81.0,0.392,0.667,0.214,20.0,43.0,1610612742,93.0,0.526,0.636,0.316,25.0,37.0,0
10038,2010-02-01,20900709,2009,1610612762,104.0,0.494,0.880,0.286,26.0,43.0,1610612742,92.0,0.462,0.889,0.364,20.0,34.0,1
11439,2009-02-05,20800733,2008,1610612762,115.0,0.500,0.864,0.462,31.0,54.0,1610612742,87.0,0.400,0.842,0.231,21.0,32.0,1
11742,2008-12-26,20800433,2008,1610612762,97.0,0.450,0.852,0.182,26.0,41.0,1610612742,88.0,0.407,0.882,0.292,18.0,39.0,1
12709,2008-03-03,20700887,2007,1610612762,116.0,0.532,0.909,0.250,29.0,35.0,1610612742,110.0,0.500,0.853,0.412,18.0,32.0,1
13186,2007-12-26,20700416,2007,1610612762,99.0,0.500,0.769,0.300,26.0,38.0,1610612742,90.0,0.427,0.810,0.346,22.0,40.0,1
14491,2007-01-09,20600513,2006,1610612762,105.0,0.507,0.825,0.364,21.0,28.0,1610612742,108.0,0.529,0.829,0.385,14.0,33.0,0
14692,2006-12-11,20600307,2006,1610612762,101.0,0.481,0.852,0.286,24.0,42.0,1610612742,79.0,0.377,0.750,0.150,8.0,26.0,1
15509,2006-03-11,20500924,2005,1610612762,87.0,0.451,0.690,0.375,15.0,39.0,1610612742,90.0,0.479,0.640,0.429,17.0,37.0,0
16421,2005-11-02,20500014,2005,1610612762,93.0,0.432,0.647,0.700,15.0,50.0,1610612742,82.0,0.377,0.677,0.214,10.0,44.0,1
17066,2005-02-23,20400797,2004,1610612762,83.0,0.307,0.923,0.071,14.0,42.0,1610612742,101.0,0.472,0.781,0.471,19.0,41.0,0
18531,2004-01-28,20300654,2003,1610612762,91.0,0.486,0.750,0.417,21.0,45.0,1610612742,88.0,0.466,1.000,0.348,24.0,24.0,1
18696,2004-01-05,20300483,2003,1610612762,108.0,0.470,0.758,0.455,24.0,52.0,1610612742,94.0,0.402,0.875,0.350,20.0,33.0,1
19189,2003-10-05,10300001,2003,1610612762,90.0,0.457,0.735,0.143,23.0,41.0,1610612742,85.0,0.447,0.500,0.250,20.0,38.0,1

In [84]:
data2[(data2['TEAM_ID_home']==1610612742)&(data2['TEAM_ID_away']==1610612762)]

,GAME_DATE_EST,GAME_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
368,2022-11-02,22200115,2022,1610612742,103.0,0.500,0.533,0.289,20.0,37.0,1610612762,100.0,0.464,0.857,0.333,28.0,40.0,1
597,2022-04-25,42100175,2021,1610612742,102.0,0.435,0.762,0.279,16.0,49.0,1610612762,77.0,0.377,0.762,0.100,12.0,40.0,1
619,2022-04-18,42100172,2021,1610612742,110.0,0.470,0.769,0.468,22.0,31.0,1610612762,104.0,0.463,0.850,0.379,19.0,50.0,1
625,2022-04-16,42100171,2021,1610612742,93.0,0.382,0.765,0.281,17.0,34.0,1610612762,99.0,0.434,0.870,0.318,15.0,53.0,0
751,2022-03-27,22101121,2021,1610612742,114.0,0.519,0.708,0.500,21.0,45.0,1610612762,100.0,0.461,0.600,0.353,23.0,36.0,1
896,2022-03-07,22100972,2021,1610612742,111.0,0.443,0.800,0.370,19.0,43.0,1610612762,103.0,0.434,0.792,0.387,22.0,45.0,1
1914,2021-10-06,12100018,2021,1610612742,111.0,0.473,0.700,0.367,25.0,54.0,1610612762,101.0,0.415,0.636,0.308,26.0,40.0,1
2360,2021-04-05,22000764,2020,1610612742,111.0,0.451,0.750,0.469,22.0,44.0,1610612762,103.0,0.420,0.773,0.273,20.0,48.0,1
3561,2020-02-10,21900798,2019,1610612742,119.0,0.470,0.839,0.349,24.0,26.0,1610612762,123.0,0.590,0.762,0.429,27.0,45.0,0
20661,2018-11-14,21800210,2018,1610612742,118.0,0.584,0.667,0.429,24.0,51.0,1610612762,68.0,0.309,0.632,0.171,16.0,33.0,1
20780,2018-10-28,21800084,2018,1610612742,104.0,0.418,0.760,0.321,24.0,43.0,1610612762,113.0,0.525,0.864,0.400,25.0,43.0,0
21170,2018-03-22,21701076,2017,1610612742,112.0,0.494,0.786,0.531,22.0,35.0,1610612762,119.0,0.529,0.938,0.414,32.0,39.0,0
22827,2017-02-09,21600797,2016,1610612742,112.0,0.506,0.760,0.250,21.0,37.0,1610612762,105.0,0.459,0.824,0.448,26.0,43.0,1
22981,2017-01-20,21600648,2016,1610612742,107.0,0.448,0.750,0.348,21.0,43.0,1610612762,112.0,0.458,0.718,0.348,17.0,53.0,0
24250,2016-02-09,21500787,2015,1610612742,119.0,0.480,0.878,0.379,24.0,36.0,1610612762,121.0,0.522,0.704,0.231,23.0,44.0,0
24852,2015-11-20,21500184,2015,1610612742,102.0,0.470,0.941,0.286,24.0,34.0,1610612762,93.0,0.438,0.810,0.300,14.0,48.0,1
25657,2015-02-11,21400797,2014,1610612742,87.0,0.373,0.808,0.357,18.0,38.0,1610612762,82.0,0.375,0.524,0.379,19.0,52.0,1
26428,2014-10-30,21400019,2014,1610612742,120.0,0.553,0.783,0.381,25.0,44.0,1610612762,102.0,0.434,0.889,0.400,22.0,40.0,1
4638,2014-02-07,21300746,2013,1610612742,103.0,0.469,0.773,0.556,24.0,48.0,1610612762,81.0,0.408,0.500,0.343,22.0,37.0,1
5199,2013-11-22,21300184,2013,1610612742,103.0,0.507,0.741,0.412,19.0,41.0,1610612762,93.0,0.500,0.667,0.350,27.0,31.0,1
5757,2013-03-24,21201045,2012,1610612742,113.0,0.543,0.848,0.500,23.0,34.0,1610612762,108.0,0.512,0.810,0.412,23.0,38.0,1
7439,2012-03-03,21100544,2011,1610612742,102.0,0.480,0.833,0.435,24.0,40.0,1610612762,96.0,0.447,0.762,0.250,13.0,39.0,1
7704,2012-01-27,21100281,2011,1610612742,116.0,0.549,0.682,0.579,26.0,44.0,1610612762,101.0,0.464,0.818,0.417,20.0,33.0,1
8472,2011-02-23,21000856,2010,1610612742,118.0,0.579,0.714,0.500,30.0,43.0,1610612762,99.0,0.455,0.806,0.250,18.0,33.0,1
8978,2010-12-11,21000346,2010,1610612742,103.0,0.500,0.821,0.538,24.0,40.0,1610612762,97.0,0.444,0.870,0.313,19.0,37.0,1
10211,2010-01-09,20900535,2009,1610612742,93.0,0.413,0.826,0.381,21.0,45.0,1610612762,111.0,0.532,0.760,0.471,28.0,41.0,0
10691,2009-11-03,20900058,2009,1610612742,96.0,0.395,0.913,0.389,18.0,50.0,1610612762,85.0,0.415,0.650,0.364,21.0,37.0,1
11007,2009-04-08,20801171,2008,1610612742,130.0,0.549,0.879,0.458,26.0,47.0,1610612762,101.0,0.453,0.711,0.462,25.0,34.0,1
11578,2009-01-17,20800596,2008,1610612742,115.0,0.506,0.885,0.333,27.0,42.0,1610612762,108.0,0.513,0.917,0.444,21.0,30.0,1
12423,2008-04-10,20701174,2007,1610612742,97.0,0.446,0.920,0.533,17.0,35.0,1610612762,94.0,0.463,0.857,0.500,22.0,41.0,1
13308,2007-12-08,20700292,2007,1610612742,125.0,0.597,0.857,0.563,25.0,31.0,1610612762,117.0,0.605,0.710,0.500,25.0,34.0,1
13822,2007-04-13,20601183,2006,1610612742,89.0,0.446,0.667,0.278,18.0,26.0,1610612762,104.0,0.521,0.806,0.385,25.0,50.0,0
15233,2006-04-16,20501200,2005,1610612742,111.0,0.426,0.836,0.538,19.0,41.0,1610612762,95.0,0.508,0.703,0.333,20.0,33.0,1
15793,2006-01-28,20500637,2005,1610612742,103.0,0.554,0.750,0.538,17.0,33.0,1610612762,89.0,0.391,0.789,0.333,15.0,33.0,1
16722,2005-04-09,20401136,2004,1610612742,88.0,0.418,0.711,0.417,18.0,35.0,1610612762,81.0,0.373,0.848,0.375,15.0,39.0,1
17615,2004-12-04,20400241,2004,1610612742,109.0,0.468,0.875,0.583,25.0,44.0,1610612762,86.0,0.507,0.615,0.250,25.0,28.0,1
18040,2004-04-08,20301134,2003,1610612742,117.0,0.532,0.867,0.529,23.0,38.0,1610612762,94.0,0.493,0.700,0.500,23.0,37.0,1
19142,2003-11-01,20300033,2003,1610612742,127.0,0.517,0.839,0.391,28.0,49.0,1610612762,102.0,0.440,0.800,0.250,25.0,38.0,1

In [174]:
# for i in range(10):
    
# if df1[date_est] > df2[date_est]:
#     df0=pd.concat(df0,df1[data_est])
# elif df1[date_est] < df2[date_est]:
#     df0=pd.concat(df0,df2[data_est])

# df_date=pd.concat(df1[data_est10개값],df2[date_est10개값])
# df_date.sort_values(ascending=False)
# for date in df_date:
#     if date in df1[data_est10개값]:
#         pd.concat(df0,df1[df1[data_est10개값]==date])
#     elif date in df2[data_est10개값]:
#         pd.concat(df0,df2[df2[data_est10개값]==date])

df1=data2[(data2['TEAM_ID_home']==1610612762)&(data2['TEAM_ID_away']==1610612742)]
df2=data2[(data2['TEAM_ID_away']==1610612762)&(data2['TEAM_ID_home']==1610612742)]
df_date=pd.concat([df1['GAME_DATE_EST'],df2['GAME_DATE_EST']])
df_date
# df=pd.DataFrame({'HT_ID':[],'AT_ID':[],'HTW':[]})
df=pd.DataFrame({'GAME_DATE_EST':[],'HT_ID':[],'AT_ID':[],'HTW':[]})
cnt=0
for date in df_date:
    if date in df1['GAME_DATE_EST'].values:
        df1_=df1[df1['GAME_DATE_EST']==date]
        new = {'GAME_DATE_EST':date,'HT_ID':df1_['TEAM_ID_home'].values[0],'AT_ID':df1_['TEAM_ID_away'].values[0],'HTW':df1_['HOME_TEAM_WINS'].values[0]}
        df=pd.concat([df,pd.DataFrame([new])], ignore_index=True)
    elif date in df2['GAME_DATE_EST'].values:
        df2_=df2[df2['GAME_DATE_EST']==date]
        new = {'GAME_DATE_EST':date,'HT_ID':df2_['TEAM_ID_away'].values[0],'AT_ID':df2_['TEAM_ID_home'].values[0],'HTW':0}
        df=pd.concat([df,pd.DataFrame([new])], ignore_index=True)
    cnt+=cnt+1
    if cnt>=10:
        break
df

  GAME_DATE_EST         HT_ID         AT_ID  HTW
0    2022-10-14  1.610613e+09  1.610613e+09  0.0
1    2022-04-28  1.610613e+09  1.610613e+09  0.0
2    2022-04-23  1.610613e+09  1.610613e+09  1.0
3    2022-04-21  1.610613e+09  1.610613e+09  0.0

In [112]:
df

Empty DataFrame
Columns: []
Index: []